/* Global Styling */
:root {
    --background: #000;
    --primary: #1da1f2;
    --secondary: #1d96f2;
}

body {
    background-color: var(--background);
    color: white;
}

/* Navigation */
nav ul {
    margin-left: 0
}
nav li {
    display: inline;
}

nav li.logo {
    font-size: xxx-large;
    text-align: left;
}

nav li button {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 3px;
    border-radius: 7px;
    background-color: var(--primary);
    color: white;
    text-shadow: black 1px 1px;
    border: 1px solid var(--secondary)
}

nav li button:hover {
    background-color: var(--secondary);
}

main h1 {
    text-align: center;
}

ul#posts {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
div.card {
    color: black;
    width: 400px;
    min-height: 100px;
    margin: 5px;
    margin-block-end: 10px;
    padding: 15px;
}

div.card:hover {
    cursor: pointer;
}

/* Name Field */
div.card h2 {
    font-size: small;
}

/* Content Field */
div.card p {

}

/* Card - Comment list */
ul.comments {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: var(--background);
    color: white;
    list-style: none;
}

/* Individual Comment */
li.comment h4 {
    font-size: small;
}

li.comment p {
    padding: 0 1em 0 0;
}

/* Link Section */
a {
    text-decoration: none;
    color: var(--primary)
}

a:hover {
    color: var(--secondary);
    text-shadow: #1d96f2 0 1px;
}

/* Footer */
footer section {
    display: inline-block;
}

footer section h6 {
    vertical-align: top;
}

div.hidden { display: none }

.modal {
    padding-top: 1em;
    background-color: var(--background);
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
}

.post-modal {
    text-align: center;
}

.post-modal header {
    padding: 10px;
    background-color: white;
    color: black;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 10px;
    margin-block-end: 10px;
}

.post-modal header h1 {
    font-size: large;
    text-align: left;
}

.post-modal header p {
    font-size: x-large;
}

.post-modal header div {
    font-size: large;
    text-align: right;
}

.post-modal ul.comments {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-modal li.comment {
    text-align: left;
    min-height: 100px;
    min-width: 300px;
    max-width: 400px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-inline-end: 10px;
    margin-block-end: 10px;
    border-radius: 5px;
}

.heart {
    color: red;
    min-width: 20px;
    max-width: 50px;
}

.heart:hover {
    cursor: grab;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.comment-form {
    display: inline-grid;
    align-self: center;
    min-width: 600px;
    text-align: left;
}

.modal {
    overflow: scroll;
}

button.danger {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--primary);
    color: white;
    text-shadow: black 1px 1px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

button.danger:hover {
    background-color: var(--secondary);
}

.new-tweet-form {
    max-width: 600px;
    margin: 0 auto;
}